<footer class="ftco-footer ftco-section">
    <div class="container-fluid px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                        Admin Panel
                    </h2>
                    <p>Quản lý và giám sát hệ thống BlueHouse một cách hiệu quả, an toàn và chuyên nghiệp.</p>
                    <ul class="ftco-footer-social list-unstyled mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Quản Lý Hệ Thống</h2>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Admin")"><span class="icon-long-arrow-right mr-2"></span>Dashboard</a></li>
                        <li><a href="@Url.Action("Index", "AdminAccount")"><span class="icon-long-arrow-right mr-2"></span>Quản lý tài khoản</a></li>
                        <li><a href="@Url.Action("Statistics", "Admin")"><span class="icon-long-arrow-right mr-2"></span>Thống kê</a></li>
                        <li><a href="@Url.Action("Settings", "Admin")"><span class="icon-long-arrow-right mr-2"></span>Cài đặt hệ thống</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Hỗ Trợ Admin</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Hướng dẫn quản trị</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Báo cáo sự cố</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Tài liệu kỹ thuật</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Liên Hệ Hỗ Trợ</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon icon-map-marker"></span><span class="text">
                                    Hòa Hải, Khu Đô Thị FPT, Đại Học FPT
                                </span>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-phone"></span><span class="text">
                                        (+84) 941 673 660
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon icon-envelope pr-4"></span><span class="text">
                                        bluedream.company@email.com
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy; <script>document.write(new Date().getFullYear());</script> Admin Panel | All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>